* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Alice", serif;
  font-weight: 400;
  color: #333333;
}

body {
  background-color: #fff;
  background-size: cover;
  line-height: 1.6
}

#page {
  width: 800px;
  padding: 24px;
  background-color: #fff;
  border-radius: 24px;
  margin: 48px auto 28px;
}

img {
  border-radius: 28px;
  width: 100%; 
  display: block;
  margin-bottom: 16px;
}

.main-image {
  height: 375px;
  object-fit: cover;
  margin-top: 44px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

.headline {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d0e10;
  margin-bottom: 16px;
}

.subtitle,caption {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  color: #333333;
  margin-top: 24px 0;
}

.highlight {
  font-weight: bold;
  color: #FF6B00;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 8px;
}

.highlight.red {
  color: #e63946;
}

section {
  margin-bottom: 32px;
}

section img {
  margin-bottom: 16px;
}

h2,h3 {
  margin: 16px 0;
  line-height: 1.4;
}

p {
  margin-bottom: 16px;
}

.tag, .tag-label {
  margin-top: 12px;
  font-size: 14px;
  display: inline-block;
}

.tag-list {
  list-style: disc;
  padding-left: 20px;
  margin-top: 8px; 
}

.tag-list li {
  font-weight: bold;
}

.casais {
  color: #5A2EFF;
}

.familia {
  color: #E31C58;
}

.orcamento {
  color: #FF9A3C;
}

footer {
  margin-top: 32px;
  text-align: center;
  font-size: 14px;
  color: 888;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
}

footer img.heart {
  width: 16px;
  vertical-align: middle;
  margin: 0 4px;
  filter: brightness(0);
}


